<%- include ../layouts/header.ejs %>
        <!-- Content page -->
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles"> EDITAR USUARIOS <br> </h1>
            </div>
        </div>

        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/usuarios">Usuarios</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>
                </ol>
            </nav>    
        </div>
       
        <!-- Panel nuevo administrador -->
        <div class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color:#7F8C8D ;">
                    <h3 class="panel-title" style="color: #fff;"> &nbsp; FORMULARIO DEL USUARIO</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="../actualizar">
                        <fieldset class="col-md-6"> 
                            <legend> &nbsp; Datos del Usuario</legend>
                            <div class="container-fluid">
                                <div class="row">

                                    <input class="form-control" type="hidden" name="id" required="" maxlength="30" value="<%=usuarios.idusuario%>">

                                    <div class="col-xs-12 ">
                                        <div class="form-group label-floating">
                                            <label class="control-label"  style="font-size: medium; color: black;">Nombre *</label>
                                            <input class="form-control" type="text" name="nombre" required="" maxlength="30" value="<%=usuarios.nombre%>">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label"  style="font-size: medium; color: black;">Usuario *</label>
                                            <input class="form-control" type="text" name="usuario" required="" maxlength="30" value="<%=usuarios.usuario%>">
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label"  style="font-size: medium; color: black;">Contraseña *</label>
                                            <input class="form-control" type="password" name="password"  maxlength="30" value="<%=usuarios.contraseña%>">
                                        </div>
                                    </div>

                                </div>
                            </div>                           
                        </fieldset>
                      
                        <fieldset class="col-md-6">
                            <legend> &nbsp; Nivel de privilegios</legend>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <% for( let permiso=0; permiso < permisos.length; permiso++ ) { %>
                                        
                                            <label class="col-md-12">
												<input type="checkbox" name="<%= permisos[permiso].ruta%>" value="checked"  <%= permisos[permiso].estatys %> >
												<i style="color: #000;">&nbsp; <%= permisos[permiso].nombre_permiso %></i> 
											</label>  
                                                                            
                                        <% } %>                                                                        
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-md-12">
                            <p class="text-center" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-secondary">Actualizar</button>
                            </p>
                        </fieldset>

                    </form>
                </div>
                
            </div>
        </div>
    </section>

<%- include ../layouts/footer.ejs %>