<%- include ../layouts/header.ejs %>
        <!-- Content page -->
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles"> USUARIOS <br> </h1>
            </div>
        </div>

        <!-- Panel nuevo administrador -->                    
        <div class="container-fluid">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">&nbsp; LISTA DE USUARIOS</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Usuario</th>
                                    <th class="text-center">Contraseña</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let usuario=0; usuario < usuarios.length; usuario++ ) { %>
                                    <tr>
                                        <td><%= usuarios[usuario].idusuario %></td>
                                        <td><%= usuarios[usuario].nombre %></td>
                                        <td><%= usuarios[usuario].usuario %></td>
                                        <td><%= usuarios[usuario].contraseña %></td>                                            
                                        <td>
                                            <form class="form-inline" method="post" action="/usuarios/editar/<%= usuarios[usuario].idusuario%>">
                                                <button type="submit" class="btn btn-success ">Editar</button> 
                                            </form>
                                        </td>
                                        <td>   
                                            <form class="form-inline" method="post" action="/usuarios/eliminar/<%= usuarios[usuario].idusuario%>">
                                                <button type="submit" class="btn btn-danger">Eliminar</button>                                            
                                            </form>                                                                         
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <nav class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">5</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    
        
    </section>

<%- include ../layouts/footer.ejs %>