<%- include ../layouts/header.ejs %>
        <br>
        <div class="container-fluid">
            <a href="/usuarios/crear" class="btn btn-primary" type="button" style="color: aliceblue;">Crear Nuevo Usuario</a>
        </div>    
        <!-- Panel nuevo administrador -->                    
        <div class="container-fluid">
            <div class="panel panel-success">
                <div class="panel-heading" style="background-color:#7F8C8D ;">
                    <h3 class="panel-title" style="color: #fff;">&nbsp; LISTA DE USUARIOS</h3>
                </div>
                <div class="panel-body">
                    
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Usuario</th>                              
                                    <th>Acciones</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let usuario=0; usuario < usuarios.length; usuario++ ) { %>
                                    <tr>
                                        <td><%= usuarios[usuario].idusuario %></td>
                                        <td><%= usuarios[usuario].nombre %></td>
                                        <td><%= usuarios[usuario].usuario %></td>                                                                                 
                                        <td>
                                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                <form class="form-inline" method="post" action="/usuarios/editar/<%= usuarios[usuario].idusuario%>">
                                                    <button type="submit" class="btn btn-success" style="color: aliceblue;">Editar</button> 
                                                </form>
                                            </div>
                                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                <form class="form-inline" method="post" action="/usuarios/eliminar/<%= usuarios[usuario].idusuario%>">
                                                    <button type="submit" class="btn btn-danger" style="color: aliceblue;">Eliminar</button>                                            
                                                </form>   
                                            </div>
                                            
                                        </td>                                      
                                    </tr>
                                <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th></th>                               
                                </tr>
                            </tfoot>
                        </table>
                                      
                </div>
            </div>
        </div>
    
        
    </section>

<%- include ../layouts/footer.ejs %>